.title {
  margin-bottom: 1rem;
  color: var(--white-white);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}

.innerBox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.btnWrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
