/* PagiNation.module.css */

.Pagination {
  width: 62.5rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2.5rem;
}

.pageBtn {
  font-family: var(--font-pretendard);
  background-color: var(--black-black_300);
  color: var(--gray-gray_200);
  border: none;
  border-radius: 0.25rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.9375rem;
  transition: all 0.2s ease;
}

.pageBtn:hover:not(:disabled) {
  background-color: var(--black-black_100);
  color: var(--white-white);
}

.pageBtn.active {
  background-color: var(--brand-brand_orange);
  color: var(--white-white);
  font-weight: bold;
}

.pageBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
