.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.container {
  max-width: 31rem;
  width: 100%;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background: var(--black-black_300);
}

.closeButton {
  display: flex;
  width: 100%;
  height: 2rem;
  justify-content: flex-end;
  align-items: center;
  background: none;
  cursor: pointer;
  border: none;
  padding: 0;
  margin-bottom: 0.5rem;
}

.closeButton img {
  width: 2rem;
  height: 2rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  color: var(--white-white);
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: normal;
}

.buttonWrapper {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 0 7.9375rem;
  justify-content: center;
  align-items: center;
}
