.mainContainer {
  background: var(--black-black_400);
  min-height: 100vh;
  width: 100%;
}

.inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 2rem 4rem;
}

.addCompareBtn {
  background-color: var(--brand-brand_orange);
  color: var(--white-white);
  border: none;
  border-radius: 0.5rem;
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
}

.addCompareBtn:hover {
  opacity: 0.9;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.compareBtn {
  background-color: var(--gray-gray_400);
  color: var(--gray-gray_200);
  border: none;
  border-radius: 3.125rem;
  padding: 0.75rem 2.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: not-allowed;
}

.compareBtnActive {
  background-color: var(--brand-brand_orange);
  color: var(--white-white);
  cursor: pointer;
}

.compareBtnActive:hover {
  opacity: 0.9;
}

/* Modal */

.modalHeader {
  margin-top: 1.5rem;
  color: var(--white-white);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.listItem {
  margin-top: 1rem;
}
