.container {
  width: 28rem;
  height: 3rem;
  border-radius: 0.625rem;
  border: 1px solid var(--gray-gray_200);
  background: var(--black-black_300);
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBox {
  display: flex;
  width: 26.5rem;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--white-white);
}

.input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--gray-gray_100);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
}

.rightIconWrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
